html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(229, 255, 0, 0.135);
    background-image: url("../../imagens/Projetos3d/background01.png");
    /*
    background-image: url(#imagemDeFundo01);
    */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0px 0px;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    color: rgb(76, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(76, 0, 255);
}

/*
#statusSistema {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 50%;
    background-color: rgba(255, 152, 27, 0.532);
    background-repeat: no-repeat;
    color: rgba(23, 0, 78, 0.509);
    border: 100px solid rgba(0, 0, 0, 0);
}
*/

.menu {
    padding: 1%;
    opacity: 0;
    color: aqua;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 152, 27, 0.532);
    background-repeat: no-repeat;
    color: rgba(23, 0, 78, 1);
}

#centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);

    /*
    animation: testeAnimacao 5s;
    animation-name: testeAnimacao;
    animation-duration: 20s;
    animation-iteration-count: infinite; "REPETIR ANIMAÇÃO"
*/

}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(194, 140, 32, 0.24);
    color: rgb(255, 255, 255);
    font-size: 50%;
}

.imagensProjetos3d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 0px solid rgba(0, 0, 0, 0);
}

#redesSociais {
    padding: 2%;
}

#botaoMenu {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
}

@keyframes testeAnimacao {
    0% {

        opacity: 0;

        transform: scale(1);

        transform: translateX(-35%);

    }

    50% {

        opacity: .5;

        transform: scale(0.9);

        transform: translateX(30%);
    }

    100% {

        opacity: 1;

        transform: scale(1);

        transform: translateX(0%);
    }
}

/*

    @keyframes testeAnimacao
    {
        from
        {
        opacity: 0;
        }
        to
        {
        opacity: 1;
        }
    }

    */

/**
 * This is a simplified version without
 * vendor prefixes. With them included
 * (which you will need), things get far
 * more verbose!
 
 
.box {

    animation-name: movingBox;  
    
    animation-duration: 2300ms;  
    
    animation-iteration-count: infinite;  
    
    animation-direction: alternate;
  }
  
  @keyframes movingBox {
    0% {
      transform: translate(0, 0);
      opacity: 0.4;
    }
  
    25% {
      opacity: 0.9;
    }
  
    50% {
      transform: translate(150px, 200px);
      opacity: 0.2;
    }
  
    100% {
      transform: translate(40px, 30px);
      opacity: 0.8;
    }
  }

  /////

  */