html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(234, 234, 234);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 0px;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    color: rgb(76, 0, 255);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(76, 0, 255);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(194, 140, 32, 0.24);
    background-repeat: no-repeat;
    color: rgba(76, 0, 255, 0.509);
}

#centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(194, 140, 32, 0.24);
    color: rgb(255, 255, 255);
}

.imagensProjetos3d {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    width: 100%;
    border: 300px solid rgba(255, 255, 255, 0);
}