html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(229, 255, 0, 0.135);
    background-image: url("../../imagens/Projetos3d/00.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px 0px;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    color: rgb(76, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(76, 0, 255);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: rgba(255, 152, 27, 0.532);
    background-repeat: no-repeat;
    color: rgba(23, 0, 78, 0.509);
    opacity: 1;
}

#centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(194, 140, 32, 0.24);
    color: rgb(255, 255, 255);
}

.imagensProjetos3d {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    width: 100%;
    border: 200px solid rgba(255, 255, 255, 0);
}