html
{
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 233, 191);
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 233, 191);
    border: 2px solid rgb(0, 0, 0);
}

header
{
    
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalhoPrincipal
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.divCabecalhoPrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tituloCabecalhoPrincipal
{
   color: rgb(200, 200, 200);
}

.corpo
{

}

.main
{
   width: auto;
}

.secao01
{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao01
{
   padding: 10px;   
}

.tituloArtigoSecao01
{
   text-align: center;
}

.paragrafoArtigo

{
   font-size: 14pt;
   text-align: justify;
   font-weight: lighter;
   align-items: center;
   padding: 1%;
}

/**/

.secao02
{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao02
{
   
}

.tituloArtigoSecao02
{
    text-align: center;
}

/**/

.secao03
{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao03
{
  
}

.tituloArtigoSecao03
{
    text-align: center;
}

.rodapePrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.tituloRodapePrincipal
{
    text-align: center;
}

.paragrafoRodapePrincipal
{
    text-align: calc(p);
    padding: 1%;
}

.navRodapePrincipal
{
   
}

.ulRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secaoRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.secaoRodapePrincipalIcones
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(233, 233, 233);
}

.iframeHome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 570px;
}

.tabelaRoadmap
{   
    width: auto;
    height: 100%;    
    border-collapse: collapse;
    vertical-align: top;
    color: rgb(255, 233, 191);
    background-color: black;
}

.celulaTabela
{
    vertical-align: top;  
    padding: 10px;    
    border: 2px solid rgb(21, 21, 21);
}

.headerBotaoSomInicio
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    text-align: center;
    width: auto;
    height: auto;
}

.botaoSomInicio
{    
    border: 0px solid rgb(21, 21, 21);
}

.secaoMudo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secaoSomExtra
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes
{
 background-color: rgb(21, 21, 21);
 border: 0px solid rgb(21, 21, 21);
}

.secaoGift
{    
    flex-direction: row;
    justify-content: center;
    display: none;
}

.marquee 
{
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;   
    -webkit-animation: marquee 10s linear infinite;
    -moz-animation: marquee 10s linear infinite;
    -o-animation: marquee 10s linear infinite;
     animation: marquee 10s linear infinite;
     font-weight: bold;
     color: rgb(26, 155, 0);
}

@-webkit-keyframes marquee 
{
    0%   { margin-left: 100% }
    100% { margin-left: -200% }
}
@-moz-keyframes marquee
{
    0%   { margin-left: 100% }
    100% { margin-left: -200% }
}
@-o-keyframes marquee
{
    0%   { margin-left: 100% }
    100% { margin-left: -200% }
}
@keyframes marquee
{
    0%   { margin-left: 100% }
    100% { margin-left: -200% }
}

.quadro 
{
  height: 40px;
  overflow: hidden;
  font-size: 18px;
}

#titulo
{
    color: black;
}

#paulodetasso
{
    color: rgb(100, 100, 100);
    background-color: rgb(233, 233, 233);
}
