html
{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(200, 200, 200);
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

header
{
    
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalhoPrincipal
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.divCabecalhoPrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tituloCabecalhoPrincipal
{
   
}

.corpo
{

}

.main
{
   
}

.secao01
{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao01
{
   
}

.tituloArtigoSecao01
{
   text-align: center;

}

.paragrafoArtigoSecao01
{
   font-size: 14pt;
   text-align: calc(p);
}

/**/

.secao02
{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao02
{
   
}

.tituloArtigoSecao02
{
    text-align: center;
}

.paragrafoArtigoSecao02
{
    font-size: 14pt;
    text-align: calc(p);
}

/**/

.secao03
{
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao03
{
  
}

.tituloArtigoSecao03
{
    text-align: center;
}

.paragrafoArtigoSecao03
{
    font-size: 14pt;
    text-align: calc(p);
}

.rodapePrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.tituloRodapePrincipal
{
    text-align: center;
}

.paragrafoRodapePrincipal
{
text-align: calc(p);
padding: 1%;
}

.navRodapePrincipal
{
   
}

.ulRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secaoRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}