html
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 233, 191);
    font-size: 5pt;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5pt;    
    background-color: rgb(0, 0, 0);
}

#tabelaRoadmap
{       
    font-size: 5pt;     
    border-collapse: collapse;
    color: rgb(255, 233, 191);    
    background-color: black;
}

#cabecalhoTabela
{   
    font-size: 5pt;
}

#tituloTabela
{
    font-size: 5pt;    
}

#linhaTabela
{    
    font-size: 5pt;
}

#celulaTabela
{    
    align-items: center;
    font-size: 5pt;
    vertical-align: top;
    border-collapse: collapse;
    color: rgb(255, 233, 191);
    background-color: black;    
    border: 2px solid rgb(21, 21, 21);
}
