html
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: auto;
}

body
{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);  
    width: auto;
    height: auto;
    border: 10px solid rgb(255, 255, 255);
}

#visitasSite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    color: aliceblue;
    align-items: center;
    text-align: center;
    font-size: 200pt;
}