html
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
}

#audios
{
    display: none;   
}

body
{     
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 100%;
}

/**/

#secaoOeste
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 3%;
    height: 100%;
}

/**/

#secaoNorte
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 10%;
}

/**/

#secaoCentro
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 87%;
}

#secaoPrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 94%;
    height: 100%;
}

#navLinkPrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 100%;
}

#start
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: auto;
}

/**/

#secaoSul
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 3%;
}

/**/

#secaoLeste
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 3%;
    height: 100%;
}

