html
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 233, 191);
}

#audios
{
    display: none;   
}

body
{     
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 100%;       
    background-color: rgb(34, 34, 34);
}


#secaoCabecalho
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url("../imagens/gif/nature0.gif");
    background-size: cover;
}

/**/

#secaoOeste
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 3%;
    height: 100%;    
}

/**/

#secaoNorte
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
    height: 10%;
}

/**/

#secaoCentro
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 94%;    
}

#secaoPrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 94%;
    height: 100%;
    background-color: rgb(255, 233, 191);
}

/**/

#secaoSul
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 3%;
}

/**/

#secaoLeste
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 3%;
    height: 100%;
}

/*////////////////////////////*/

.headerBotaoSomInicio
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    text-align: center;
    width: auto;
    height: auto;
}

.botaoSomInicio
{    
    border: 0px solid rgb(21, 21, 21);
}

.secaoMudo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconeVolumeAltoDemais
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#iconeVolumeBaixoDemais
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.botoes
{
 background-color: rgb(21, 21, 21);
 border: 0px solid rgb(21, 21, 21);
}


.cabecalhoPrincipal
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto; 
}

.divCabecalhoPrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.tituloCabecalhoPrincipal
{
   color: rgb(200, 200, 200);
}

#SecaoGifPrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

/*#secaoTitulos*/ 
.quadro
{
  width: 100%;
  height: auto;
 /* overflow: hidden;*/ 
  font-size: 14px;
  text-overflow: clip;
  overflow-x: hidden;
  opacity: 0.9;
}

#status
{
    color: rgb(100, 100, 100);
    background-color: rgb(233, 233, 233);
    text-decoration: solid;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.562), 1px 1px 20px rgba(111, 0, 255, 0.2); 
    font-size: 12pt;
    font-weight: lighter;
    font-family: "LuckiestGuy";
    letter-spacing: 2px;
    padding: 1%;
    opacity: 0.8;
}

@font-face
 {
    font-family: 'LuckiestGuy';
    src: url(../fonts/LuckiestGuy-Regular.ttf);
    src: url(../fonts/LuckiestGuy-Regular.ttf) format('embedded-opentype'),
    url(../fonts/LuckiestGuy-Regular.ttf) format('woff'),
    url(../fonts/LuckiestGuy-Regular.ttf) format('truetype'),
    url(../fonts/LuckiestGuy-Regular.ttf) format('svg');
    font-weight: normal;
    font-style: normal;   
  }  

#linkFraseRodape
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

#secaoTabela
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: auto;
}

#botaoTabela
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 0, 0);
   border: 0px solid rgb(0, 0, 0);
}

#secaoBotaoLicense
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    font-size: 8pt;
    width: 100%;
    height: 100%;    
    background-color: rgb(255, 233, 191);
    padding: 0%;    
}

#license
{
    display: none;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: auto;    
}

#botaoLicense
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: rgb(0, 52, 163);
    border: thick 5px rgb(172, 172, 172);
    border-radius: 3em;
}

#navLicense
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;    
}

#Cavalo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#SFSSD
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;    
    visibility: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    width: 100%;
    height: auto;
}

#secaoIconeUsuario
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    visibility: hidden;
}

 #iconeUsuario
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 57px;
    height: 51px;
    padding: 1%;
 }

#codeFooter
{
    visibility: hidden;
}

#iframeHome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#iframe
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#tabelaRoadmap
{   
    width: 100%;
    height: auto;    
    border-collapse: collapse;
    color: rgb(255, 233, 191);
    background-color: black;
    font-size: 100%;
}

.celulaTabela
{    
    vertical-align: top;  
    border: 2px solid rgb(21, 21, 21);
    width: auto;
    height: auto;
    font-size: 100%;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px solid rgb(17, 17, 17);
}


.secao01
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: auto;    
    background-color: rgb(34, 34, 34);
}

.artigoSecao01
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloArtigoSecao01
{
    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
   font-size: 22pt;
   width: 100%;
   height: auto;
}

.paragrafoArtigo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
   font-size: 18pt;
   text-align: justify;
   font-weight: lighter;
   align-items: center;
   padding: 3%;
   letter-spacing: 1px;
}

/**/


.secao02
{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao02
{
   
}

.tituloArtigoSecao02
{
    text-align: center;
}

/**/


.secao03
{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao03
{
  
}

.tituloArtigoSecao03
{
    text-align: center;
}


#rodapePrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url("../icones/code9.gif"); 
    background-size: cover;
}

.tituloRodapePrincipal
{
    text-align: center;
}

.paragrafoRodapePrincipal
{
    text-align: calc(p);
    padding: 1%;
}

#navRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.ulRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#secaoRodape
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.secaoRodapePrincipalIcones2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

#secaoRodapePrincipalIcones1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

/*#tituloPrincipal*/
.marquee 
{
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;   
    -webkit-animation: marquee 20s linear infinite;
    -moz-animation: marquee 20s linear infinite;
    -o-animation: marquee 20s linear infinite;
     animation: marquee 20s linear infinite;
     font-weight: bold;
     color: rgba(43, 255, 0, 0.884), rgba(255, 0, 0, 0.884) ;
     text-shadow: 1px 1px 0px rgba(11, 65, 0, 0.637);
     letter-spacing: 1px;
}

@-webkit-keyframes marquee 
{
    0%   { margin-left: 100% }
    100% { margin-left: -400% }
}
@-moz-keyframes marquee
{
    0%   { margin-left: 100% }
    100% { margin-left: -400% }
}
@-o-keyframes marquee
{
    0%   { margin-left: 100% }
    100% { margin-left: -400% }
}
@keyframes marquee
{
    0%   { margin-left: 100% }
    100% { margin-left: -400% }
}

#titulo
{
    color: black;
}

#botaoGifPrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 7px;
    background-color: rgb(42, 150, 0);    
}

#statusSistema
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 10pt;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

#secaoLesteImagem
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 10px;
    height: 600px;
}

#secaoOesteImagem
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 10px;
    height: 600px;
}

#secaoBarraDeProgresso
{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: auto;
}