html
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

body
{     
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    background-color: rgb(0, 0, 0);  
}
