html
{
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalhoPrincipal
{
  
}

.tituloCabecalhoPrincipal
{
   
}

.main
{
   
}

.secao01
{
    background-color: rgb(46, 67, 255);
    border: 5px solid rgb(0, 23, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao01
{
   
}

.tituloArtigoSecao01
{
   
}

.paragrafoArtigoSecao01
{
   
}

/**/

.secao02
{
    background-color: rgb(9, 255, 0);
    border: 5px solid rgb(0, 90, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao02
{
   
}

.tituloArtigoSecao02
{
    
}

.paragrafoArtigoSecao02
{
    
}

/**/

.secao03
{
    background-color: rgb(255, 251, 0);
    border: 5px solid rgb(122, 110, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.artigoSecao03
{
  
}

.tituloArtigoSecao03
{
    
}

.paragrafoArtigoSecao03
{
  
}

.rodapePrincipal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloRodapePrincipal
{
    text-align: center;
}

.paragrafoRodapePrincipal
{
text-align: calc(p);
padding: 1%;
}

.navRodapePrincipal
{
   
}

.ulRodapePrincipal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}