html
{
    background-color: rgb(0, 0, 0);
    color: bisque;
    font-size: 20pt;
}

#titulo1
{
background-color: rgb(1, 0, 77);
color: aqua;
font-size: 25pt;
}

#titulo2
{
background-color: rgb(48, 0, 17);
color: rgb(255, 0, 0);
font-size: 25pt;
}

#titulo3
{
background-color: rgb(181, 93, 0);
color: rgb(255, 255, 0);
font-size: 25pt;
}

#titulo4
{
background-color: rgb(0, 46, 0);
color: rgb(0, 255, 21);
font-size: 25pt;
}