html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 200);
    /*background-color: rgb(255, 250, 187);*/
    /*background-image: url(../../../imagens/Projetos3d/08.png);*/
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#secaoImagemDeFundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

#imagemDeFundo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px solid rgba(0, 0, 0, 0);
    transition: all 2s;
}

#secaoPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

#secaoCabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

#secaoBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: rgb(76, 0, 255);
    background-color: rgba(0, 0, 0, 0);
}

#secaoRodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 70px;
    color: rgba(23, 0, 78, 1);
    background-color: rgba(250, 200, 250, .3);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: auto;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bolder;
    color: rgb(255, 106, 0);
    text-shadow: 1.3px 3px 10px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    padding: 2%;
}

#relogio {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 2%;
    font-size: 100%;
    text-align: center;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-decoration: overline;
}

#secaoImagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(255, 145, 0, 0.549);
    color: rgb(111, 0, 255);
    font-size: 57%;
}

#redesSociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
}

#botaoMenu {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#secaoTemas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: aqua;
    visibility: visible;
    padding: 1%;
    border: 2px solid rgb(26, 255, 0);
    opacity: 0;
}

#imagemBotaoMenu {
    content: url("../../../icones/Cor Laranja/menu2.png");
    width: 40px;
    height: auto;
    top: 0px;
    right: 30px;
    cursor: pointer;
}

/*/////////////////ESTILOS DE LINKS:

/* LINK NAO VISITADO */
a:link {
    color: rgb(0, 6, 191);
}

/* LINK VISITADO */
a:visited {
    color: rgb(63, 0, 158);
}

/* MOUSE EM CIMA DO LINK */
a:hover {
    color: rgb(0, 255, 255);
}

/* LINK SELECIONADO */
a:active {
    color: yellow;
}

/*/////////////*/

.opacidade10 {
    animation: Opacidade10 1s;
}

@keyframes Opacidade10 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.opacidade01 {
    animation: Opacidade01 1s;
}

@keyframes Opacidade01 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.abrirItemMenu {
    animation: abrirItemMenuCss 2s;
}

@keyframes abrirItemMenuCss {
    0% {
        opacity: 0;
        height: 120px;
    }

    100% {
        opacity: 1;
        height: 170px;
    }
}

.abrirMenu {
    animation: abrirMenuCss 2s;
}

@keyframes abrirMenuCss {
    0% {
        height: 70px;
    }

    100% {
        height: 120px;
    }
}

.fecharMenu {
    animation: fecharMenuCss 2s;
}

@keyframes fecharMenuCss {
    0% {
        height: 120px;
    }

    100% {
        height: 70px;
    }
}

.abrirMenuImagemIcone {
    animation: abrirMenuImagemIconeCss 2s;
}

@keyframes abrirMenuImagemIconeCss {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.playImagens {
    animation: playImagensCss 5s alternate-reverse;
    animation-iteration-count: 1;
}

@keyframes playImagensCss {
    0% {
        background-image: url("../../imagens/Projetos3d/00.png");
    }

    10% {
        background-image: url("../../imagens/Projetos3d/01.png");
    }

    20% {
        background-image: url("../../imagens/Projetos3d/02.png");
    }

    30% {
        background-image: url("../../imagens/Projetos3d/03.png");
    }

    40% {
        background-image: url("../../imagens/Projetos3d/04.png");
    }

    50% {
        background-image: url("../../imagens/Projetos3d/05.png");
    }

    60% {
        background-image: url("../../imagens/Projetos3d/06.png");
    }

    70% {
        background-image: url("../../imagens/Projetos3d/07.png");
    }

    80% {
        background-image: url("../../imagens/Projetos3d/08.png");
    }

    90% {
        background-image: url("../../imagens/Projetos3d/09.png");
    }

    100% {
        background-image: url("../../imagens/Projetos3d/10.png");
    }
}

.imagensProjetos3d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

#secaoStatus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

#secaoOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

.itemsOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.titulosMenu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;

}

#secaoItemsHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    visibility: hidden;
}

#secaoItemsProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    visibility: hidden;
    font-size: 70%;
}

#secaoItemsCollections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    visibility: hidden;
    font-size: 70%;
}

#secaoItemsOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    visibility: hidden;
    font-size: 70%;
}

#secaoItemsContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: auto;
    visibility: hidden;
    font-size: 70%;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
}

.iconesMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: auto;
    padding: 0%;
}

#subCabecalho01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 5px solid rgb(238, 255, 0);

}

#subCabecalho02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
    visibility: hidden;
    border: 5px solid rgb(0, 204, 255);
}

#secaoDiv01Cabecalho02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
}

#secaoDiv02Cabecalho02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2%;
}

.botoesResultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
}

.logosRedesSocias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: auto;
    padding: 0%;
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    margin: 2%;
    opacity: .8;
}

#imagemInstagram {
    opacity: .8;
    transition: all .5s;
    cursor: pointer;
}

#imagemFacebook {
    opacity: .8;
    transition: all .5s;
    cursor: pointer;
}

#imagemTwitter {
    opacity: .8;
    transition: all .5s;
    cursor: pointer;
}

#imagemInstagram:hover {
    opacity: 1;
}

#imagemFacebook:hover {
    opacity: 1;
}

#imagemTwitter:hover {
    opacity: 1;
}

#cartao {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 2s;
}

.virar {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all .5s;
}

#secaoMenuGaleria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
}

#menuCommodes {}

#menuRack01 {}

#menuRack02 {}

#menuCloset {}

#menuCenterTable {}

.menusProdutos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1%;
    border: 0px solid rgb(209, 209, 209);
    transition: all 1s;
}

.menusProdutosRack {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
    border: 0px solid rgb(201, 28, 28);
}

.botoesGaleria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0%;
    border: 0px solid rgb(104, 65, 65);
}

.imagensBotoesGaleria {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#secoesBotoesVoltarAvancar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
}

/*
.botoesPassarImagensGaleria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
}
*/

#botaoPassarImagens01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
    padding: 5%;
}

#botaoPassarImagens02 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
    padding: 5%;
}

#secaoBotaoVoltar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    transition: all 2s;
}

#secaoBotaoAvancar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: auto;
    transition: all 2s;
}

#imagemBotaoPassarImagens01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10%;
    height: auto;
    transition: all 2s;
    border: 0px solid rgb(0, 0, 0);
    opacity: .3;
    visibility: visible;
    cursor: pointer;
}

#imagemBotaoPassarImagens02 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 10%;
    height: auto;
    transition: all 2s;
    opacity: .3;
    cursor: pointer;
}

.menusProdutos:hover {
    opacity: .7;
}

#imagemBotaoPassarImagens01:hover {
    opacity: 1;
}

#imagemBotaoPassarImagens02:hover {
    opacity: 1;
}