
/********************************************************************/
/*PRINCIPAL*/

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #fff7fb;
  border: 0px solid rgba(0, 0, 0, 0)
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;  
  border: 0px solid black;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.secaoFooter {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.main {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/********************************************************************/
/*MENU LATERAL*/

.menuLateral {
  position: fixed;
  top: 0;
  left: -400px; /* Inicia fechado */
  width: 300px; /* Largura do menu */
  height: 100%;
  margin: 0px;
  padding-top: 30px;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(209, 209, 209, 0.97);
  color: rgb(0, 0, 0);
  z-index: 10;
  overflow-x: hidden;
  transition: left 0.3s ease; /* Adiciona transição de movimento */
  font-size: small;
  overflow-y: visible;
  border-left: 20px solid rgba(0, 0, 0, 0);
  animation-duration: 1.4s;
   animation-timing-function: ease-in-out;
   z-index: 30;
}

/********************************************************************/
/*SUBITENS*/
/* Estilo do menu lateral e subitens */
.menuLateral ul ul {
  display: none;
  background-color: rgba(0, 0, 0, 0.07); /* Cor de fundo para os subitens */
  padding-left: 20px; /* Espaçamento interno para os subitens */
  border-left: 20px solid rgba(0, 0, 0, 0); /* Adiciona uma borda à esquerda para diferenciar os subitens */
  border-radius: 10px;
  border: 10px solid rgba(0, 0, 0, 0);
  margin: 5px;
}

.menuLateral ul li {
  margin: 0px 0; /* Espaçamento entre os itens do menu */
}

.menuLateral .parent-item > a {
  font-weight: bold; /* Defina o estilo de fonte para os itens principais do menu */
}

.menuLateral .subitems li a {
  font-weight: normal; /* Defina o estilo de fonte para os subitens */
  color: #000000;
}

.menuLateral ul ul li {
  margin: 0px 0; /* Espaçamento entre os subitens */
}

.menuLateral ul ul li:first-child {
  margin-top: 0px; /* Ajusta o espaçamento superior do primeiro subitem */
}

.menuLateral ul ul li:last-child {
  margin-bottom: 0px; /* Ajusta o espaçamento inferior do último subitem */
}

.menuLateral .parent-item > a::before {
  content: ""; /* Adiciona um sinal de "+" antes do texto do item do menu principal */
  margin-right: 0px; /* Espaçamento entre o sinal "+" e o texto do item */
}

/********************************************************************/
/*CAMPO PESQUISA*/

.secaoBotaoPesquisar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.menuLateral input[type="search"] {
  width: 70%; /* Leva em conta o padding de 10px em ambos os lados */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgba(255, 112, 191, 0.5);
  margin-right: 10px;
}

.menuLateral ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Removido o margin */
}

.menuLateral ul li {
  margin-bottom: 10px;
}

.menuLateral ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: left;
  font-weight: 700;
}

.menuLateral ul li a:hover {
  background-color: #bababa;
  color: #fe55b5;
}

/* Estilo para o ícone de pesquisa */
.menuLateral input[type="search"]::placeholder {
  color: #878787;
}

.menuLateral input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.10/collection/components/svgs/ios-close-circle.svg"); /* Ícone X */
  background-size: cover;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.menuLateral input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
}

.menuLateral button {
  padding: 8px 16px;
  background-color: rgba(255, 22, 150, 0.5);
  color: #fff;
  border: 1px solid rgb(255, 168, 201);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0px;
}

.menuLateral button:hover {
  background-color: rgba(255, 112, 191, 1);
}

/********************************************************************/
/*TELA OCULTA PARA ACAO DE CLIQUES*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9;
  display: none;
}

/********************************************************************/
/*LOGIN - CADASTRO*/

#loginCadastro {
  position: absolute;
  top: 14px;
  right: 3px;
  margin: 5px;
  z-index: 20;
}

#naoLogado {
  font-size: 0.8em; /* Tamanho da fonte pequena */
}

.links {
  color: #ff00ae;
  text-decoration: none;
  margin: 0px;
}

.divisor {
  color: #999;
  margin: 0 5px;
}

/********************************************************************/
/*BOTÃO HAMBUGUER - MENU LATERAL*/

.secaoHamburguerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: 40px;
  width: 20%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  z-index: 8;
  cursor: pointer;
}

.hamburguerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  background-image: url("../../recursos/imagens/icones/menu_hambuguer_001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  text-shadow: #fe55b5;
}

.overlay.open {
  display: block;
}

.menuLateral.open {
  left: 0;
  opacity: 1;
  animation-name: slideInFromLeft; 

}

menuLateral:not(.open) {
  left: -400px; /* Mantém o menu fora da tela */
  opacity: 0;
  animation-name: slideOutToLeft; /* Aplica a animação de saída */
}

/* Define a animação de entrada */
@keyframes slideInFromLeft {
  from {
    left: -400px; /* Começa fora da tela */
    opacity: 0;
  }
  to {
    left: 0; /* Termina na posição inicial */
    opacity: 1;
  }
}

/* Define a animação de saída */
@keyframes slideOutToLeft {
  from {
    left: 0; /* Começa na posição inicial */
    opacity: 1;
  }
  to {
    left: -400px; /* Termina fora da tela */
    opacity: 0.3;
  }
}

/********************************************************************/
/*CABEÇALHO*/

.logoPng001 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 140px;
  background-image: url("../../recursos/imagens/logos/Logo001-PNG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
}

.iconeCarrinho {
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 40px;
  height: 50px;
  background-image: url("../../recursos/imagens/icones/carrinho002.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.itensCarrinho {
  display: block;
  position: absolute;
  top: 80px;
  right: 10px;
  width: 20px;
  height: 17px;
  background-color: rgba(255, 112, 191, 0.5);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 700;
  z-index: 11;
}

/********************************************************************/
/*CARROSEL PRINCIPAL*/

.secaoCarrossel {
  position: relative;
  margin-top: 40px;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.prev {
  top: 340px;
  left: 10px;
  z-index: 5;
}

.next {
  top: 340px;
  right: 10px;
  z-index: 5;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  height: 700px; /* Defina a altura do slide conforme necessário */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide:nth-child(1) {
  background-image: url("../../recursos/imagens/banners/MB/01-Banner-Principal-Site-PC1920-×-600-px-950-x-1290-px.png");
}

.slide:nth-child(2) {
  background-image: url("../../recursos/imagens/banners/MB/02-Banner-Principal-Site-PC1920-×-600-px-950-x-1290-px.png");
}

.slide:nth-child(3) {
  background-image: url("../../recursos/imagens/banners/MB/03-Banner_Principal_Site_MB_950-x-1290-px.png");
}

/********************************************************************/
/*SERVIÇOS*/

.servicos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.subServicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.subServicos > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

.cc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/cc001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/porc001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.entrega {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/entrega001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/********************************************************************/
/*CATEGORIAS*/

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.tituloCategoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.itensCategorias {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-auto-rows: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-size: small;
}

/********************************************************************/
/*TSHIRTS*/

.tshirts,
.tshirts > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemTshirt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/roupas/blusas001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/********************************************************************/
/*VESTIDOS*/

.vestidos,
.vestidos > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemVestidos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/roupas/vestidos001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/********************************************************************/
/*SAIAS*/

.saias,
.saias > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemSaias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/roupas/saias001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/********************************************************************/
/*CALÇAS*/

.calcas,
.calcas > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemCalcas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/roupas/calcas001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/********************************************************************/
/*CONJUNTOS*/

.conjuntos,
.conjuntos > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemConjuntos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/roupas/conjuntos001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/********************************************************************/
/*VER TUDO*/

.verTudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin: 20px;
  padding: 0px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 14px;
}

/********************************************************************/
/*AVALIAÇÕES E COMENTARIOS*/

.avaliacoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/********************************************************************/
/*PROPAGANDAS*/

.imagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.imagem-container {
  width: 90%; /* Defina a largura máxima do contêiner */
  margin-right: 0px; /* Espaçamento entre as imagens */
  margin-top: 5px;
  margin-bottom: 5px;
}

.imagemBanner01,
.imagemBanner02 {
  width: 100%; /* Assegura que a imagem preencha o contêiner */
  height: 400px; /* Defina a altura da imagem */
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 20px;
}

.imagemBanner01 {
  background-image: url("../../recursos/imagens/banners/Banner-site-luxo-507x400.png");
}

.imagemBanner02 {
  background-image: url("../../recursos/imagens/banners/banner-so-bandagem-categoria-507x400.png");
}

/********************************************************************/
/*CONTATO*/

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.whatsapp,
.instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  cursor: pointer;
}

.imagemWhatsapp,
.imagemInstagram {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}

.imagemWhatsapp {
  background-image: url("../../recursos/imagens/icones/logo_whatsapp_png-100x100.png");
}

.imagemInstagram {
  background-image: url("../../recursos/imagens/icones/logo_instagram_png-100x100.png");
}

.whatsapp > p,
.instagram > p {
  margin: 0px;
  font-weight: 700;
}

/********************************************************************/
/*MAIS INFORMAÇÕES - FORMAS DE PAGAMENTO - SELO*/

.maisInformacoes,
.formasDePagamento,
.selo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.imagemFormasDePagamento,
.imagemSelo {
  width: 90%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.imagemFormasDePagamento {
  background-image: url("../../recursos/imagens/formas_de_pagamentos.png");
}

.imagemFormasDePagamento > h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemSelo {
  background-image: url("../../recursos/imagens/selo_safebrowsing.png");
}

.listaInformacoes > span {
  cursor: pointer;
}

/********************************************************************/
/*MARCA*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.marca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.imagemMarca {
  width: 200px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}

.imagemMarca {
  background-image: url("../../recursos/imagens/logos/Logo001-PNG.png");
}

/********************************************************************/
/*BOTAO WHATSAPP*/

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url("../../recursos/imagens/icones/RedesSociais/WhatsApp001.png");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  animation: button-shake 1s infinite;
}

@keyframes button-shake {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

#whatsapp-tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  background-color: beige;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: small;
  font-weight: 600;
  display: none;
}

#whatsapp-tooltip.active {
  display: block;
}

#whatsapp-button:hover #whatsapp-tooltip {
  display: block;
  animation: tooltip-fadein 0.5s forwards;
}

@keyframes tooltip-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#whatsapp-tooltip:not(:hover) {
  animation: tooltip-fadeout 0.5s forwards 5s;
}

@keyframes tooltip-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#whatsapp-button.partially-visible {
  opacity: 0.5;
}

/********************************************************************/
/*CONTEUDO PRINCIPAL*/

.secaoConteudoPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 130px;
  padding: 0px;
  border: 1px solid black;
}

/********************************************************************/
/*api\tabelas\produto\produtoTela\produtoTelaTodosOsProdutos.php*/

.secaoConteudoPrincipalTodosOsProdutos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 130px;
  padding: 0px;
  border: 1px solid black;
}

.produto {
  width: 80%;
  border: 1px solid rgb(232, 84, 163);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;  
  background-color: #ffade4;
  font-size: small;
}

.secaoConteudoPrincipalTodosOsProdutos h3{
padding: 5px;
color: #fe55b5;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;
background-color: rgba(244, 244, 244, 0.5);
margin: 0px;
margin-top: 10px;
}

/********************************************************************/
/*api\tabelas\produto\produtoTela\produtoTelaProdutoEspecifico.php*/

.secaoConteudoPrincipalProdutoEspecifico
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  margin-bottom: 130px;
  padding: 0px;
  border: 1px solid black;
}

/********************************************************************/
/*PRODUTOS POR PREÇO MINIMO E PREÇO MAXIMO*/
/* Estilos para os inputs de preço */
.preco-inputs {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 130px;
  padding: 0px;
  border: 1px solid black;
}

.preco-inputs label {
    margin-right: 10px;
}

.preco-inputs input {
    width: 100px;
    margin-right: 10px;
}

/* Estilos para o botão de pesquisa */
#btn_pesquisar_preco {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn_pesquisar_preco:hover {
    background-color: #0056b3;
}


/* Estilos para cada card de produto */
.card-produto {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-produto img {
    max-width: 100%;
}

.card-produto .nome-produto {
    font-weight: bold;
    margin-top: 10px;
}

.card-produto .preco-produto {
    color: #007bff;
    margin-top: 5px;
}

/********************************************************************/
/*BANNER COOKIE*/
/* CSS para o Aviso de Cookies */
.cookie-banner {
    position: fixed;
    left: 30px;
    bottom: 10px;
    width: 80%;
    height: auto;
    background-color: #cc63b0; /* Cor rosa escura */
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra para efeito de profundidade */
    z-index: 9999; /* Para garantir que fique sobre os outros elementos */
    border-radius: 15px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    border: 4px solid beige;
    font-size: small;
}

.cookie-banner button {
    position: absolute;
    right: 20px;
    bottom: 14px;
    width: auto;
    margin-left: 0px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    color: #161616; 
    padding: 3px 7px 3px 7px;
    font-size: small;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.cookie-banner a {  
    text-decoration: underline;
    color: #fff; /* Cor do texto */
}

.fechar-banner {
  position: absolute;
  top: 3px;
  right: 10px;
  width: auto;
  height: auto;
  padding: 0px 4px 0px 4px; 
  border: 2px solid rgba(236, 236, 236,0.5);
  border-radius: 30px;
  background-color: #ff5050;
  cursor: pointer;
}


/********************************************************************/
/*TELA USUARIOS TODOS OS USUARIOS*/
 /* Estilos para a lista de usuários */
  .secaoConteudoPrincipalTodosOsUsuarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 100px;
    width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 130px;
    padding: 0px;
  }

  .usuario  {
     width: 80%;
  border: 1px solid #ff7fbf;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffaeff;
  font-size: small;
}

    .usuario p  {
   margin: 0px;
   padding: 0px;
    }

/********************************************************************/
    /*TELA ERRO*/
    .secaoConteudoPrincipalErro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 100px;
    width: 80%;
    height: auto;
    margin: 0px;
    margin-bottom: 130px;
      border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffb0b0;
    font-size: small;
    }

/********************************************************************/
 /*TOAST*/
.toast {
  display: none;
    visibility: hidden;    
    opacity: 0;
    position: absolute;
    top: 50px;
    width: 80%;
    padding: 15px;
    background-color: #ce71af;
    color: white;
    border-radius: 14px;
    z-index: 999;
   border: 5px solid violet;
}

.show {  
  display: block;
    visibility: visible;
    opacity: 1;
}

.toast-titulo {
  width: auto;
   font-size: large;
    font-weight: 800;    
color: #ffffff;
    margin-top: 10px;
     margin-bottom: 10px;
      border-radius: 14px;
      border: 2px solid rgb(255, 255, 255);
       padding: 15px;
}

.toast-mensagem{
  width: auto;
font-size: medium;
color: #ffffff;
    margin-top: 10px;
      margin-bottom: 10px;
 padding: 15px;
      }

.toast-recomendacao {
  width: auto;
  font-size: medium;
    
color: #ffffff;
    margin-top: 10px;
      margin-bottom: 10px;
 padding: 15px;
      }

/********************************************************************/
/*PESQUISA AVANÇADA*/
/* Estilos para a seção de Pesquisa Avançada */

/* Estilo para o botão de abrir a pesquisa avançada */
#btnAbrirPesquisa01 {
    position: absolute;
    top: 50px;
    right: 80px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 5px 10px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20;
}

/* Adicione esta classe para o ícone de pesquisa */
.icon-search {
    display: inline-block;
    width: 25px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 25px; /* Ajuste o tamanho do ícone conforme necessário */
    background-image: url('../../recursos/imagens/icones/pesquisa001.png'); /* Substitua 'caminho/para/sua/imagem-de-pesquisa.png' pela URL da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px; /* Ajuste o espaçamento entre o ícone e o texto conforme necessário */
    vertical-align: middle;    
    cursor: pointer;
}

#secaoPesquisa01 {
    /* Mantenha a posição e o layout da seção */
    display: none; /* Definido como none inicialmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 100px;
    width: 80%;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid rgb(232, 84, 163);
    border-radius: 10px;
    padding: 10px;
    background-color: #ffade4;
    font-size: small;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s linear 1s, top 1s ease-in-out;
}

#secaoPesquisa01.aberta {
    /* Aplicar a animação ao abrir e manter a seção visível */
    animation: abrirPesquisa 1s forwards ease-in-out;
    display: flex;
}

/* Animação para abrir a seção de pesquisa */
@keyframes abrirPesquisa {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-500px); /* Move para cima */
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); /* Sem deslocamento vertical */
    }
}

#secaoPesquisa01:not(.aberta) {
    /* Aplicar a animação ao fechar a seção */    
    animation: fecharPesquisa 1s forwards ease-in-out;
}

/* Animação para fechar a seção de pesquisa */
@keyframes fecharPesquisa {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); /* Sem deslocamento vertical */
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-500px); /* Move para cima */ 
    }
}

#secaoPesquisa01  h1{
    font-size: x-large;
    margin: 5px;
}

#secaoPesquisa01 form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#secaoPesquisa01 label{
    margin: 5px;
}

#secaoPesquisa01 select,
#secaoPesquisa01 input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
}

.secaoBotoesFormularioPesquisaAvancada{
display: flex; 
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
width: auto;
height: auto;
padding: 5px;
margin-bottom: 5px;
}

#btnPesquisar01 {
  display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ff43a1;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilize o botão de reset para torná-lo mais visível e clicável */
#btnLimpar01 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ccc;
    color: #333;
    border: none;
    cursor: pointer;
  }

#btnPesquisar01:hover {
    background-color: #ff3381; /* Altera a cor de fundo ao passar o mouse */
    transition: background-color 0.3s; /* Adiciona uma transição suave */
}

#btnLimpar01:hover {
    background-color: #999; /* Altera a cor de fundo ao passar o mouse */
    color: #fff; /* Altera a cor do texto ao passar o mouse */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave */
}


/*sessãoFiltrosCheck*/
.sessãoFiltrosCheck{
  display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  background-color: rgba(0, 0, 0, .1); /* Altera a cor de fundo ao passar o mouse */  
}

/********************************************************************/
/*SESSÃO FILTRO POR PREÇO*/
/* Estilo para a seção de filtro por preço */
#secaoFiltroPreco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);;
    background-color: rgba(0, 0, 0, 0); 
    transition: display 0.5s ease;
  }

/* Estilo para a seção de filtro por preço */
#filtroPreco {
    display: none; /* Inicialmente oculta */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  background-color: rgba(0, 0, 0, 0); /* Altera a cor de fundo ao passar o mouse */
    transition: display 0.5s ease; /* Adiciona uma transição suave */
}

/* Estilo para o texto do checkbox */
label[for="porPrecoCheckbox"] {
 display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  margin-right: 0px;
}

#porPrecoCheckbox{
  display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  margin-right: 0px;
}

/********************************************************************/
/*SESSÃO FILTRO POR TAMANHO*/
#secaoFiltroTamanho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;    
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);;
    background-color: rgba(0, 0, 0, 0); 
    transition: display 0.5s ease;
}

#filtroTamanho {
    display: none; /* Inicialmente oculta */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  background-color: rgba(0, 0, 0, 0); /* Altera a cor de fundo ao passar o mouse */
  border: 5px solid rgba(0, 0, 0, 0);
    transition: display 0.5s ease; /* Adiciona uma transição suave */
}

/* Estilo para o texto do checkbox */
label[for="porTamanhoCheckbox"] {
 display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  margin-right: 0px;
}

#porTamanhoCheckbox{
  display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
  margin-right: 0px;
}


/********************************************************************/
/*SESSÃO FILTRO POR PROMOCAO*/
#secaoFiltroPromocao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;    
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);;
    background-color: rgba(0, 0, 0, 0); 
    transition: display 0.5s ease;
}

/* Estilo para o texto do checkbox */
label[for="porPromocaoCheckbox"] {
    display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
    margin-right: 0px;
}

#porPromocaoCheckbox{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
    margin-right: 0px;
}

/********************************************************************/
/*POR CORES*/
/* Estilo para a seção de filtro por cor */
#secaoFiltroCor {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 95%;
    height: auto;    
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);;
    background-color: rgba(0, 0, 0, 0); 
    transition: display 0.5s ease;
}

/* Estilo para o texto do checkbox de cor */
label[for="porCorCheckbox"] {
    display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    width: 80%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    margin-right: 0px;
}

/* Estilo para a seção de filtro por cor */
#filtroCor {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0); 
    border: 1px solid rgba(0, 0, 0, .1);
    transition: display 0.5s ease;
}

#opcoesCores
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0px;
}
/* Estilo para as opções de cores */
.opcaoCor {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.opcaoCor input[type="checkbox"] {
    margin-right: 5px;
}

.opcaoCor label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

/* Mostra a seção de cores quando o checkbox de filtro por cor está marcado */
#porCorCheckbox:checked ~ #filtroCor {
    display: flex;
}

#secaoPesquisa01 label, p{
color: #000000;
font-weight: 700;
font-size: small;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
}


/********************************************************************/
/*POR DISPONIBILIDADE*/
/* Estilo para a seção de filtro por disponibilidade */
#secaoFiltroDisponibilidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;    
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);;
    background-color: rgba(0, 0, 0, 0); 
    transition: display 0.5s ease;
}

/* Estilo para o texto do checkbox de disponibilidade */
label[for="porDisponibilidadeCheckbox"] {
    display: flex; 
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
    margin-right: 0px;
}
#porDisponibilidadeCheckbox{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    margin: 0%;
    padding: 0px 0px;
    border-radius: 10px;
    margin-right: 0px;
}
