/*******************/
/*PRINCIPAL*/

html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body header main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

aside {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: azure;
}

img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.avaliacoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.menu {
  display: none;
}

/*******************/
/*CABEÇALHO*/

.iconeCarrinho {
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url("../../recursos/imagens/icones/carrinho002.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.itensCarrinho {
  display: block;
  position: absolute;
  top: 70px;
  right: 10px;
  width: 20px;
  height: 17px;
  z-index: 9999;
  background-color: rgba(255, 112, 191, 0.5);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.logoPng001 {
  display: block;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-image: url("../../recursos/imagens/logos/Logo001-PNG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
}

.bannerPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 768px;
  background-image: url("../../recursos/imagens/banners/Banner_Principal_Site_MB_950-x-1290-px-1.png");
  /* Posição do plano de fundo (pode ser ajustada conforme necessário) */
  background-position: center center;
  /* Repetição do plano de fundo (no caso de ser menor do que o contêiner) */
  background-repeat: no-repeat;
}

/*CARROSEL PRINCIPAL*/

.secaoCarrossel {
  position: relative;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.prev {
  top: 340px;
  left: 10px;
  z-index: 99999;
}

.next {
  top: 340px;
  right: 10px;
  z-index: 99999;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  height: 700px; /* Defina a altura do slide conforme necessário */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide:nth-child(1) {
  background-image: url("../../recursos/imagens/banners/Banner_Principal_Site_MB_950-x-1290-px-1.png");
}

.slide:nth-child(2) {
  background-image: url("../../recursos/imagens/banners/Banner_Principal_Site_PC_1920_×_600_px_01.jpg");
}

.slide:nth-child(3) {
  background-image: url("../../recursos/imagens/banners/Banner-site-luxo-507x400.png");
}

/*******************/
/*SERVIÇOS*/

.servicos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.subServicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.subServicos > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}

.cc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/cc001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/porc001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.entrega {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/entrega001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*******************/
/*CATEGORIAS*/

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.tituloCategoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.itensCategorias {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.tshirts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemTshirt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-image: url("../../recursos/imagens/icones/entrega001.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.tshirts > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.verTudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin: 20px;
  padding: 0px;
  cursor: pointer;
}

/*******************/
/*PROPAGANDAS*/

.imagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.imagem-container {
  width: 90%; /* Defina a largura máxima do contêiner */
  margin-right: 0px; /* Espaçamento entre as imagens */
  margin-top: 5px;
  margin-bottom: 5px;
}

.imagemBanner01,
.imagemBanner02 {
  width: 100%; /* Assegura que a imagem preencha o contêiner */
  height: 400px; /* Defina a altura da imagem */
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 20px;
}

.imagemBanner01 {
  background-image: url("../../recursos/imagens/banners/Banner-site-luxo-507x400.png");
}

.imagemBanner02 {
  background-image: url("../../recursos/imagens/banners/banner-so-bandagem-categoria-507x400.png");
}

/*******************/
/*CONTATO*/

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.whatsapp,
.instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  cursor: pointer;
}

.imagemWhatsapp,
.imagemInstagram {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}

.imagemWhatsapp {
  background-image: url("../../recursos/imagens/icones/logo_whatsapp_png-100x100.png");
}

.imagemInstagram {
  background-image: url("../../recursos/imagens/icones/logo_instagram_png-100x100.png");
}

.whatsapp > p,
.instagram > p {
  margin: 0px;
  font-weight: 700;
}

/*******************/
/*MAIS INFORMAÇÕES - FORMAS DE PAGAMENTO - SELO*/

.maisInformacoes,
.formasDePagamento,
.selo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.imagemFormasDePagamento,
.imagemSelo {
  width: 90%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.imagemFormasDePagamento {
  background-image: url("../../recursos/imagens/formas_de_pagamentos.png");
}

.imagemFormasDePagamento > h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.imagemSelo {
  background-image: url("../../recursos/imagens/selo_safebrowsing.png");
}

/*******************/
/*MARCA*/

.marca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.9);
}

.imagemMarca {
  width: 200px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}

.imagemMarca {
  background-image: url("../../recursos/imagens/logos/Logo001-PNG.png");
}
