html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 97%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: 10px solid rgb(91, 91, 91);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 97%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    background-image: url("../../imagens/outros/03.png");
    background-repeat: no-repeat, repeat;
    color: rgb(255, 255, 255);
    border: 10px solid rgb(0, 255, 47);
    padding: 1%;
}

#centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 70%;
    background-color: rgba(0, 0, 0, 1);
    background-image: url("../../imagens/start9.png"), url("../../imagens/outros/03.png");
    background-repeat: no-repeat, repeat;
    background-size: 250px;
    color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    padding: 1%;
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    background-image: url("../../imagens/outros/03.png");
    color: rgb(255, 255, 255);
    border: 10px solid rgb(0, 82, 15);
    padding: 1%;
}