html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    /*background-color: rgba(0, 0, 0, 0);
    background-image: url("../../imagens/outros/03.png");
    background-repeat: no-repeat;*/
    color: rgb(255, 255, 255);
    opacity: .5;
}

#centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 1);
    background-image: url("../../imagens/outros/terra_p.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-origin: content-box;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: url("../../imagens/outros/03.png");
    color: rgb(255, 255, 255);
}